@page "/avengers"

<PageTitle>Avengers</PageTitle>



    <div class="text-left">


    @{
        var rulesheet = "https://tiltforums.com/t/avengers-infinity-quest-rulesheet/6740";
        var tutoriaPAPA = "https://youtu.be/zaCEffQkj4o?si=nhwxzr2i_Qy8M8TR";
        var tutorialTravisMurie = "https://www.youtube.com/watch?v=0KJNAmZX1-I";
    
    }

    <h2>Avengers Strategy</h2>
    <p>
        Make 4 combos to light the disc for Portal Lock early on.
        This doubles all gem quest scoring and enables multiball for the mode.
        Portal Locks enable 2x / 3x scoring for the next Gem Quest as long as you keep the balls in play.
        Completing a Gem Quest while these locked balls are still in play enables Victory Laps at all major shots.
    </p>
    <p>
        Up to 2 Portal Locks can be qualified and collected at the disc before a gem quest) by:
            <li>Secret Skill Shot #1 (plunge the ball with medium strength such that it rolls backward down the upper loop).</li>
            <li>4, 10, or 20 Combos</li>
            <li>1st Hawkeye Challenge</li>
            <li>Computer Grid award</li>
    </p>
    <p>
        Start Thor Multiball during a gem quest.
    </p>

    <h2>Avengers Modes</h2>

   
    <h5><b>Power Gem (Red)</b></h5>
    <p>
        <i>
            Every shot towards leveling up the Avenger with the Power Gem placed on it counts double.
            Avenger progress carries between balls and wizard modes.
        </i>
        <li>Shots light in spans of 3 flashing red shots. Center shot is 30% damage. The others are 15% damage. </li>
        <li>Deal enough damage to light the left orbit for final blow.</li>
        <li>Collect Gem will light at the right ramp (and take priority until the Gem has been placed on a shot).</li>
        <li>Shoot a flashing Gem shot to place the Gem there.</li>
        
    </p>
    
    <h5><b>Reality Gem (Yellow)</b></h5>
    <p>
        <i>
            Shot multiplier.  Placed on an Avenger = 2x.  Avenger at Level 1 = 3x.  Level 2 = 4x.
        </i>
        <li>Spin the disc to light all major shots yellow.  </li>
        <li>Shoot 8 total yellow arrows. </li>
        <li><i>Note - these letters slowly extinguish, but they can be added back by spinning the disc.</i></li>

    </p>




    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>Iron Maiden Pinball Rulesheet</a></li>
    </p>


    
    
    

 
    </div>
