@page "/drNo"

<PageTitle>drNo</PageTitle>



    <div class="text-left">


    @{
        var rulesheet = "https://tiltforums.com/t/james-bond-007-rulesheet/7893";
    
    }


    <h1>Dr. No</h1>
       
    <h2>Dr. No Skill Shot</h2>
    <p>
        <li>Hold up the left flipper and plunge at full strength.  See what happens?  Flip it around?  </li>
    </p>

    <h2>Dr. No Villain Modes</h2>

    <h5><b></b></h5>
    <p>
        <li>Shoot the left ramp to qualify.</li>
        <li>Shoot the Villain scoop.</li>
        <li>Shoot the blinky shots.</li>
        <li><i>Note - Try to stack a multiball.  Villain modes + multiball is the heart of high-level Bond scoring.</i></li>
    </p>



    <h2>Dr. No Multiballs</h2>

    <h5><b>Jetpack Multiball</b></h5>
    <p>
        <li>Shoot the right ramp repeatedly to qualify.</li>
        <li>Shoot the Jetpack lock (right ramp). </li>
    </p>

    <p>
        <h2>Dr. No Playfield:</h2>
        <img src="images/JamesBondPlayfield.jpg" alt="Dr. No Playfield" style="width:200px; height:auto;" />
    </p>

    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>Dr. No Rulesheet</a></li>
    </p>


 
    </div>
