@page "/dungeons"

<PageTitle>Dungeons and Dragons</PageTitle>



    <div class="text-left">


    @{
        var rulesheet = "https://tiltforums.com/t/dungeons-dragons-the-tyrants-eye-rulesheet/9267";
    
    }


    <h1>Dungeons and Dragons</h1>

   <!--
    <h2>Overview</h2>
    <p>
        <li>Pick Anya</li>
        <li>Arabel</li>
        <li>Westgate</li>
    </p>


    <h2>Dungeons and Dragons Skill Shots</h2>
    <p>
        <li></li>
    </p>



    <h2>Arabel Quests</h2>

    <h5><b>Retrieve a Potion for Nighdaar</b></h5>
    <li>Shoot 3 purple hurry‑ups.</li>
    
    <h5><b>The Crypt Beneath the Temple of Tymore</b></h5>
    <li>Phase 1: Shoot red shots to kill rats.</li>
    <li>Phase 2: Shoot yellow shots, but let the final shot time out to repeat Phase 1 for more value (exploit).</li>


    <h2>Dungeons and Dragons Multiballs</h2>

    <h5><b>Dragon Multiball</b></h5>
    <p>
        <li>Progress through Arabel quests.</li>
        <li>Hit the required dragon shots.</li>
        <li>Hit lit shots to deal damage.</li>
        <li>Characters like Ardor deal bonus damagd.</li>
        <li>Use multiball ball‑save time to hit dangerous shots safely.</li>
        
    </p>
     -->

    <p>
        <h2>Dungeons and Dragons Playfield:</h2>
        <img src="images/DungeonProTopPlayfield.jpg" alt="Dungeons and Dragons Playfield" style="width:200px; height:auto;" />
    </p>

    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>Dungeons and Dragons Rulesheet</a></li>
    </p>


    
    
    

 
    </div>
