@page "/johnWick"

<PageTitle>John Wick</PageTitle>



    <div class="text-left">


    @{
        var rulesheet = "https://tiltforums.com/t/john-wick-rulesheet/8956";
    
    }


    <h1>John Wick</h1>

   
    <h2><b>Overview</b></h2>
    <p>
        <li>Shoot the weapons crate or the right VUK to advance the blue lights in front of the crate. </li>
        <li>Once all three are lit solid, the right VUK will light to start the next job.</li>
        <li>Starting any job will spawn enemies.</li>
        <li>Each job is timed for 60 seconds.</li>
        <li>Defeat 10 enemies during single-ball play to light the left eject (the administration shot) for adversary battle.</li>
        <li>Adversary battles are 200-second timed modes</li>


    </p>

    <h2>John Wick Jobs</h2>


    <h5><b>Heist (Ruska Roma)</b></h5>
    <p>
        <li>Shoot standups to light major shots yellow to score </li>
        <li>Score 6 lit shots to light cashout at left eject.</li>
    </p>

    <h2>John Wick Multiballs</h2>

    <h5><b>Car Chase Multiball (4 different ones)</b></h5>
    <p>
        <li>Bash the car enough times to light car multiball at left orbit (four for the first multiball)</li>
        <li>Subsequent multiballs add +1 more car hits to qualify, to a maximum of 4 (the car must be lit by ripping the spinner first?).</li>
        <li>Every car multiball played adds another ball to the multiball; after playing all four it resets to the base number +1 ball.</li>

    </p>
    <h5>
        <b>Deconsecrated Multiball</b>
    </h5>
    <p>
        <li>Captive ball spells WINSTON to light locks for deconsecrated multiball at the center ramp.</li>
        <li>Shoot the green shots to score jackpots.</li>
        <li>Hitting the captive ball will increase the super jackpot.</li>
        <li>After scoring 7 jackpots, shoot the captive ball to start the super jackpot phase.</li>
        <li>For the next 15 seconds, the captive ball will score repeated super jackpots.</li>
        
    </p>


    <p>
        <h2>John Wick Playfield:</h2>
        <img src="images/JohnWick-Pro-Playfield.jpg" alt="John Wick Playfield" style="width:200px; height:auto;" />
    </p>

    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>John Wick Rulesheet</a></li>
    </p>


    
    
    

 
    </div>
