@page "/kingKong"

<PageTitle>King Kong</PageTitle>



    <div class="text-left">


    @{
        var rulesheet = "https://tiltforums.com/t/king-kong-myth-of-terror-island-rulesheet/9514";
    
    }


    <h1>King Kong</h1>
       
    <h2>King Kong Skill Shot</h2>
    <p>
        <li>Soft plunge into any lit lane for a K letter and ball save. </li>
    </p>

    <h2>King Kong Scenes</h2>

    <h5><b></b></h5>
    <p>
        <li>Hit island arrows, then shoot the GONG when flashing.</li>
        <li>Follow the flashing shots to complete the scene.</li>
        <li><i>Note - A good scene to stack multiball is Pterodactyl Attack or Save Ann (where Gong hurry‑ups can explode in value)</i></li>
    </p>

    <h2>King Kong Multiballs</h2>

    <h5><b>Spider Pit Multiball</b></h5>
    <p>
        <li>Hit the pit 4×.</li>
        <li>Shoot the blinky shots.</li>
    </p>

    <h5><b>Kong Multiball </b></h5>
    <p>
        <li>Lock balls at the center ramp.</li>
        <li>Shoot the blinky shots.</li>
    </p>

    <p>
        <h2>King Kong Playfield:</h2>
        <img src="images/KingKongPlayfield.jpg" alt="King Kong Playfield" style="width:200px; height:auto;" />
    </p>

    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>King Kong Rulesheet</a></li>
    </p>


    
    
    

 
    </div>
