@page "/pinball"

<PageTitle>Pinball Notes</PageTitle>

<div class="text-left">

    <!-- <i>Chase -SUPA- CMC</i> -->

    <ul style="list-style: none;">
        <h4>Pinball Notes:</h4>
        <li><a href="/ironMaiden">Iron Maiden</a></li>
        <li><a href="/avengers">Avengers</a></li>
        <li><a href="/johnWick">John Wick</a></li>
        <li><a href="/jaws">Jaws</a></li>
        <li><a href="/kingKong">King Kong</a></li>
        <li><a href="/drNo">Dr. No</a></li>
        <li><a href="/dungeons">Dungeons and Dragons</a></li>
        <li><a href="/starWarsFote">Star Wars: Fall of the Empire (FOTE)</a></li>
    </ul>
</div>




