@page "/pinballIssues"

<PageTitle>Pinball Issues</PageTitle>


    <div class="text-left">
    <h4>Machine Issues:</h4>

    <ol>
        <li>
            <b>
                Guardians of the Galaxy
            </b>
            <ol>
                <li>Orb drop target doesn't work</li>
                <!--<ul>Can't start orb multiball</ul>
                    <ul>Drop target is a brick leading to drains</ul>
                    <ul>Hits don't register</ul>-->
                <li>Rocket shot isn't functioning</li>
            </ol>
        </li>
        <li>
            <b>
                Star Wars
            </b>
            <ol>
                <li>Right flipper frequently doesn't work (especially after a cradle)</li>
                <!--<ul>Can't cradle the ball</ul>
                    <ul>Affects shots to the deathstar</ul>-->
            </ol>
        </li>
        <li>
            <b>
                Deadpool
            </b>
            <ol>
                <li>Monitor isn't always on</li>
                <li>Scoop doesn't always register the ball is in it (to collect Extra Ball, Final Blow in battle, etc)</li>
                <!--<ul>Can't cradle the ball</ul>
                    <ul>Affects shots to the deathstar</ul>-->
            </ol>
        </li>
        <li>
            <b>
                Ghostbusters
            </b>
            <ol>
                <li>Score counts up when ball is still waiting for plunge</li>
                <!--<ul>Can't cradle the ball</ul>
                <ul>Affects shots to the deathstar</ul>-->
            </ol>
        </li>
                <!--<li>
            <b>
                Turtles
            </b>
            <ol>
                <li>Sucks to play</li>

            </ol>
        </li>-->
    </ol>



</div>
