@page "/recipes"

<PageTitle>Recipes</PageTitle>


    <div class="text-center">

        @*<h1 class="display-4">Birthdays are Coming Soon!</h1>*@

        <h1 class="display-4">Recipes</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <p></p>
        <p></p>
    </div>

    <div class="text-left">


        @*<h4>Test</h4>
        <ul style="list-style: none;">
            <li><a href="/TestCamp">Tests</a></li>
        </ul>*@

        @*<img src="images/logoTest.png" alt="Sample Photo" />*@


        @*
        <h4>Trip</h4>
        <ul style="list-style: none;">
            <li><a href="/Omaha">Omaha</a></li>
        </ul>*@


    <!-- <h4>New (and Improved!)</h4>  -->
    <ul style="list-style: none;">
        <li><a href="/beefBulgogi">Beef Bulgogi</a></li>
        <li><a href="/groundBeefBulgogi">Ground Beef Bulgogi</a></li>
        <li><a href="/groundPorkBulgogi">Ground Pork Bulgogi</a></li>
        <li><a href="/carrotGingerSoup">Carrot Ginger Soup</a></li>
        <li><a href="/whiteChili">White Chicken Chili</a></li>
        <li><a href="/doroWat">Doro Wat</a></li>
        <li><a href="/pastelDeChoclo">Pastel de Choclo</a></li>
        <li><a href="/beefStew">Beef Stew</a></li>
        <li><a href="/potRoast">Pot Roast</a></li>


        <!-- <li><a href="/CallWebApi">CallWebApi</a></li> -->
        <!-- <li><a href="/CallWebApi2">CallWebApi2</a></li> -->
    </ul>

     @*
        <h4>Breakfast</h4>
        <ul style="list-style: none;">
            <li><a href="/Pancakes">Pancakes</a></li>
            <li><a href="/HashBrowns">Hash Browns</a></li>
            <li><a href="/PotatoPatty">Potato Patties</a></li>
            <li><a href="/FrenchToast">French Toast</a></li>
        </ul>


        <h4>Fish and Seafood</h4>
        <ul style="list-style: none;">
            <li><a href="/CoquillesSaintJacques">Coquilles Saint-Jacques</a></li>
            <li><a href="/SmokedSalmonAndDryBrine">Smoked Salmon and Dry Brine</a></li>
        </ul>


        <h4>Poutry</h4>
        <ul style="list-style: none;">
            <li><a href="/GeneralTsaosChicken">General Tsao's Chicken</a></li>
            <li><a href="/MustardChicken">Mustard Chicken</a></li>
            <li><a href="/SmokedTurkeyBreast">Smoked Turkey Breast</a></li>
            <li><a href="/Souvlaki">Greek Souvlaki</a></li>
            <li><a href="/ChickenEnchiladas">Chicken Enchiladas</a></li>
        </ul>


        <h4>Pork</h4>
        <ul style="list-style: none;">
            <li><a href="/HaitianGriot">Haitian Griot</a></li>
            <li><a href="/SpanishPorkBites">Spanish Pork Bites</a></li>
            <li><a href="/Carnitas">Carnitas</a></li>
            <li><a href="/Souvlaki">Greek Souvlaki</a></li>
        </ul>


        <h4>Beef</h4>
        <ul style="list-style: none;">
            <li><a href="/ItalianSteak">Italian Steak</a></li>
            <li><a href="/Bulgogi">Bulgogi</a></li>
            <li><a href="/KoreanBeefTacos">Korean Beef Tacos</a></li>
            <li><a href="/BurgerWithCarmelizedOnion">Burgers With Carmelized Onions</a></li>
            <li><a href="/Taverns">Taverns / Charlie Boys</a></li>
        </ul>


        <h4>Chilean</h4>
        <ul style="list-style: none;">
            <li><a href="/PasteldeChoclo">Pastel de Choclo</a></li>
        </ul>


        <h4>Soups and Stews</h4>
        <ul style="list-style: none;">
            <li><a href="/CarrotGingerSoup">Carrot Ginger Soup</a></li>
            <li><a href="/DoroWat">Doro Wat (Spiced Chicken Stew)</a></li>
            <li><a href="/SegaWat">Sega Wat (Spicy Beef Stew)</a></li>
            <li><a href="/EthiopianPeanutStew">Ethiopian Peanut Stew</a></li>
            <li><a href="/BeefStew">Beef Stew</a></li>
            <li><a href="/CreoleJambalaya">Creole Jambalaya</a></li>
        </ul>


        <h4>Chili</h4>
        <ul style="list-style: none;">
            <li><a href="/TexasChili">Texas Chili</a></li>
            <li><a href="/ChiliWithBeans">Chili With Beans</a></li>
            <li><a href="/WhiteChili">White Chili</a></li>
        </ul>


        <h4>Sides</h4>
        <ul style="list-style: none;">
            <li><a href="/BakedBeans">Baked Beans</a></li>
            <li><a href="/SmokedPorkBellyBurntEnds">Smoked Pork Belly Burnt Ends</a></li>
            <li><a href="/Pikliz">Pikliz</a></li>
            <li><a href="/AsianSlaw">Asian Slaw</a></li>
            <li><a href="/Biscuits">Buttermilk Biscuits</a></li>
        </ul>

        <h4>Desserts</h4>
        <ul style="list-style: none;">
            <li><a href="/LemonPie">Lemon Meringue Pie</a></li>
        </ul>


        <h4>Spice Blends and Mixes</h4>
        <ul style="list-style: none;">
            <li><a href="/Berbere">Berbere</a></li>
            <li><a href="/BeefStewSeasoning">Beef Stew Seasoning</a></li>
            <li><a href="/PancakeMix">Pancake Mix</a></li>
            <li><a href="/SausageGravy">Sausage Gravy</a></li>
            <li><a href="/ClottedCream">Clotted Cream</a></li>
            <li><a href="/RedHarrisa">Red Harrisa</a></li>
            <li><a href="/EnchiladaSauce">Enchilada Sauce</a></li>
            <li><a href="/ChiliGarlicSourCream">Chili Garlic Sour Cream</a></li>
        </ul>
        *@
    </div>
