@page "/starWarsFote"

<PageTitle>Star Wars: Fall of the Empire (FOTE)</PageTitle>

    <div class="text-left">

    @{
        var rulesheet = "https://tiltforums.com/t/star-wars-fall-of-the-empire-rulesheet/9872";
        var tutorialMurie = "https://www.youtube.com/watch?v=IKa4vTkSIGk";
    }

    <h1>Star Wars: Fall of the Empire (FOTE)</h1>
   
    <h2>Overview</h2>
    <p>
        <li>Shoot up the middle to try and start a multiball?</li>
    </p>
    <!--
        <p>
        
        <li>Hit Shark captive ball once → lights all modes (white triangle shots with the encounter names on them)</li>
        <li>Hit any white shot to start a mode, then blue shots for the mode shots. </li>
        <li>Hit Chum Bucket captive ball → chum the water.  Lights a red shot and progresses chum line.  (progress to Jaws multiball) </li>
        <li>Shoot red arrows or Hit Chum Bucket captive ball → build chum line</li>
        <li>Once completed, yellow shots light solid (left side and center) (harpoon).</li
        <li>After hitting the yellow shot, the ball feeds to the left flipper and is held for the timed fin shot.</li>
        <li>Shark fin appears</li>
        <li>Shoot shark fin (barrel attached)</li>
        <li>If you miss, it's ok - the yellow solid lights will relight.  Hit one of them to attach the barrel.</li>
        <li>Center spinner and ramps light with blinking yellow shots</li>
        <li>Hit a blinking yellow shot to start Jaws Multiball</li>
        <li>Hit Chum Bucket 3 times for add a ball</li>
    </p>
    <h2>-----------</h2>
    <p>
        <li>Hit right ramp to light/start Quint's Shack</li>
        <li>1st Quint's Shack is Shark Bounty mode</li>
        <li>Hit reel enough times to light flashing Shark captive ball </li>
        <li>Hit flashing Shark captive ball to capture shark</li>

    </p>
        <h2>-----------</h2>
    <p>
    
        <li>Hit shark tower targets to collect them (yellow 5-sided)</li>
        <li>Collect all 3 for a set </li>
        <li>Collect 2 sets to start </li>
        <li>Shoot lit shots </li>
    </p>
        <h2>-----------</h2>
        <p>
        <li>Hit beachgoers (orange circles) to collect them</li>
        <li>Collect all 3 at a beach to close it </li>
        <li>Closing all beaches starts Rescue multiball </li>
    </p>


    <h2>Skill</h2>
    <p>
        <li>Plunge into the pop bumper for 5M. </li>
    </p>
    -->
    <!--
    <h2>Jaws Shark Encounters</h2>

    <h5><b>Night Swim</b></h5>
    <p>
        <li>Starts at "wave" ramp.</li>
        <li>Shot value starts at 1M and increases by 750K for each blue shot made.</li>
    </p>
    <h5><b>Beach Panic</b></h5>
    <p>
        <li>Starts at left spinner.</li>
        <li>All five shots are initially lit to score, with one rapidly flashing shot lit for 2x.</li>
        <li>Once 8 shots have been made (with 2x shots counting double), the wave ramp is lit to light the encounter jackpot at the fin drop target for 50% of the mode total.</li>
    </p>
    <h5><b>Scars</b></h5>
    <p>
        <li>Starts at the center ramp.</li>
        <li>Shoot the blue lit shots to score.</li>
    </p>

    <h2>Jaws Multiballs</h2>

    <h5><b>Jaws Multiball 1: Reel Him In!</b></h5>
    <p>
        <li>1 hit to the chum bucket starts the chum line.</li>
        <li>Shoot the red arrow shots to fill the chum line.</li>
        <li>Once full, shoot any yellow flashing shot to raise the shark fin.</li>
        <li>Shoot the fin to attach a barrel.</li>
        <li>Jaws Multiball will light at the ramps - shoot any to start.</li>
        <li>Shoot red flashing shots to collect awards.</li>
        <li>After 3 awards, a jackpot shot will flash yellow and red </li>
        <li>Collect 5 jackpots to complete.</li>
        <li>Once completed, victory combos will start.</li>
        
    </p>
    -->


    <p>
        <h2>Star Wars: Fall of the Empire (FOTE) Playfield:</h2>
        <img                                            "images/EmpirePro.jpg" alt="Star Wars: Fall of the Empire (FOTE) Playfield" style="width:200px; height:auto;" />
    </p>


    <h5>References:</h5>
    <p>
        <li><a href=@rulesheet>Star Wars: Fall of the Empire (FOTE) Rulesheet</a></li>
        <li><a href=@tutorialMurie>BEGINNER Game Plan for Star Wars: Fall of the Empire (FOTE) (Travis Murie)</a></li>
    </p>


    
    
    

 
    </div>
